/* #region Resets */

    /* For all elements */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /* Unordered lists */
    ul {
        list-style-type: none;
    }

/* #endregion Resets */

/* #region Root */
:root {
    /* Explicit rem declaration */
    font-size: 16px;

    /* #region Colors */
    --color-primary: #4e3969;
    --color-primary-lighter: #7c69a4; 

    --color-seconday: #ff9614;

    --color-light: #999999;
    --color-lighter: #f6f5f3;
    /* #endregion Colors */

    /* #region Variables */
    --text-align--page-title: center;
    --display--recipe-specification: none;
    --display--social-link-name: none;
    --display--advertising-banner: none;

    /* Presentation image */
    --float--presentation-image: none;
    --width--presentation-image: 70%;
    --margin-left--presentation-image: auto;
    --margin-right--presentation-image: auto;

    /* #endregion Variables */
}
/* #endregion Root */

/* #region Utilities */

    /* #region Layout */

        /* Containers */
        .container {
            max-width: 100%;
        }

        /* Display flex */
        .d-flex {
            display: flex;
        }

    /* #endregion Layout */

    /* #region Spacing */

        /* #region Margin */

            /* Margin bottom 0.5rem */
            .mb-0-5 {
                margin-bottom: 0.5rem;
            }
            
        /* #endregion Margin */

        /* #region Padding */

            /* Padding 1rem */
            .p-1 {
                padding: 1rem;
            }

            /* Padding 2rem */
            .p-2 {
                padding: 2rem;
            }

            /* Padding vertical 1rem */
            .py-1 {
                padding-top: 1rem;
                padding-bottom: 1rem;
            }

        /* #endregion Padding */

    /* #endregion Spacing */

    /* #region Typography */

        /* Text decoration line none */
        .text-decoration-none {
            text-decoration-line: none;
        }

        /* Text uppercase */
        .text-uppercase {
            text-transform: uppercase;
        }

    /* #endregion Typography */

    /* #region Colors */

            /* #region Brand colors */

            /* Facebook */
            .fa-facebook {
                color: #1a77f3 ;
            }

            /* Twitter */
            .fa-twitter {
                color: #009eff ;
            }

            /* Instagram */
            .fa-instagram {
                color: #dc3d78 ;
            }

            /* Pinterest */
            .fa-pinterest {
                color: #e62222 ;
            }

            /* YouTube */
            .fa-youtube {
                color: #e62222 ;
            }

        /* #endregion Brand colors */

        /* #region Background colors */

            /* Background color primary */
            .bg-primary {
                background-color: var(--color-primary-lighter);
            }

            /* Background color light */
            .bg-light {
                background-color: var(--color-lighter);
            }

            /* Background color white */
            .bg-white {
                background-color: white;
            }

        /* #endregion Background colors */

        /* #region Text colors */

            /* Text color primary */
            .text-primary {
                color: var(--color-primary);
            }

            /* Text color secondary */
            .text-secondary {
                color: var(--color-seconday);
            }

            /* Text color light */
            .text-light {
                color: var(--color-light);
            }

            .text-shadow {
                text-shadow: 2px 2px 2px var(--color-light);
            }

        /* #endregion Text colors */

    /* #endregion Colors */

/* #endregion Utilities */

/* #region Generals */
img {
    display: block;
    width: 100%;
}
/* #endregion Generals */

/* #region Page related */
html {
    body {

        /* #region Page header */
        .page-header {
            .home-link {
                .page-title {
                    text-align: var(--text-align--page-title);
                    font-family: 'Nerko One', cursive;
                    font-size: 5rem;
                }
            }
        }
        /* #endregion Page header */

        /* #region Page main */
        .page-main {
            .recipe {
                .recipe-category {

                }
                .recipe-title {
                    .recipe-title-specification {
                        display: var(--display--recipe-specification);
                    }
                }
                .recipe-header {
                    .recipe-video {
                        width: 100%;
                        height: 25rem;
                    }
                    .recipe-share {
                        .social-list {
                            .social-item {
                                .social-link {
                                    .social-name {
                                        display: var(--display--social-link-name);
                                    }
                                }
                            }
                        }
                    }
                }
                .advertising-banner {
                    display: var(--display--advertising-banner);
                }
                .recipe-presentation {
                    .presentation-image {
                        float: var(--float--presentation-image);
                        width: var(--width--presentation-image);
                        margin-left: var(--margin-right--presentation-image);
                        margin-right: var(--margin-right--presentation-image);
                    }
                    .presentation-text {

                    }
                }
            }
        }
        /* #endregion Page main */

        /* #region Page footer */
        .page-footer {

        }
        /* #endregion Page footer */
    }
}

/* #region Responsive */

/* Tablet */
@media screen and (min-width: 769px) {

    /* Changes */
    :root {
        --text-align--page-title: left;
        --display--recipe-specification: inline;
        --display--social-link-name: inline;
        --display--advertising-banner: block;

        /* Presentation image */
        --float--presentation-image: left;
        --width--presentation-image: 30%;
        --margin-left--presentation-image: 0;
        --margin-right--presentation-image: 0.5rem;
    }

}

/* Desktop */
@media screen and (min-width: 993px) {

    /* Changes */
    :root {
        
    }

}
/* #endregion Responsive */

/* #endregion Page related */